---
layout: none
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title | escape }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" integrity="sha256-4RctOgogjPAdwGbwq+rxfwAmSpZhWaafcZR9btzUk18=" crossorigin="anonymous">
  </head>
  <body>
    <div class="container py-4">
      <h1>Episodes</h1>

        <p class="lead">Subscribe on:
          <a href="https://podcasts.apple.com/us/podcast/community-service-hour/id1662422217" target="_blank" rel="noopener" title="Apple Podcasts">
            <i class="bi bi-apple"></i>
          </a>
          <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9wb2RjYXN0LnBob3IubmV0L2ZlZWQueG1s?sa=X&ved=0CAMQ4aUDahcKEwignIL6m7f8AhUAAAAAHQAAAAAQBA" target="_blank" rel="noopener" title="Google Podcasts">
            <i class="bi bi-google"></i>
          </a>
          <a href="https://open.spotify.com/show/3k4PnmjfLiuNo9HpXemCdJ" target="_blank" rel="noopener" title="Spotify">
            <i class="bi bi-spotify"></i>
          </a>
        </p>
      
        {% assign episodes = site.episodes | sort: 'date' | reverse %}
        {% for episode in episodes %}
        <div class="card mb-3">
          <div class="card-body">
            <h2 class="card-title">
              <a href="{{ episode.url | relative_url }}">{{ episode.itunes-episode}}. {{ episode.title | escape }}</a>
            </h2>
            <p class="card-text">{{ episode.description | escape }}</p>
            <div class="d-flex align-items-center">
              <audio controls>
                <source src="{{ episode.enclosure-url }}" type="{{ episode.enclosure-type }}">
                Your browser does not support the audio element.
              </audio>
              {% if episode.discussion %}
              <a href="{{ episode.discussion }}" class="btn btn-primary ms-3" target="_blank" rel="noopener" title="Discussion">
                <i class="bi bi-chat"></i>
              </a>
              {% endif %}
              {% if episode.youtube-full %}
              <a href="{{ episode.youtube-full }}" class="btn btn-primary ms-3" target="_blank" rel="noopener" title="Full episode video">
                <i class="bi bi-youtube"></i>
              </a>
              {% endif %}
              {% for youtube-cut in episode.youtube-cuts %}
              <a href="{{ youtube-cut.url }}" class="btn btn-secondary ms-3" target="_blank" rel="noopener" title="{{ youtube-cut.name | escape }}">
                <i class="bi bi-youtube"></i>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script>
    // Support dark mode
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.body.setAttribute('data-bs-theme', 'dark');
    }

    // Add event listeners to timeline items to jump to specific times in the audio
    const timelineItems = document.querySelectorAll('.audiotime');
    const audio = document.querySelector('audio');
    timelineItems.forEach(item => {
      item.addEventListener('click', () => {
        const timeInSeconds = item.getAttribute('data-seconds');
        audio.currentTime = timeInSeconds;
      });
    });

    // After document ready
    document.addEventListener('DOMContentLoaded', () => {
      // Enable tooltips on every element
      const tooltipTriggerList = document.querySelectorAll('*');
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    });
  </script>  
</html>